*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    margin: 0 auto;
}
body, main, .form{
    display: flex;
    flex-direction: column;
}
.form label:nth-of-type(2) {
    display: flex;
    flex-direction: row;

}
header{
    background: #993333;
    color: #FFF;
    text-align: center;
    height: 80px;
}
#main-top {
    display: flex;
    flex-direction: row;
    font-size: Tahoma;
    background: #CC6666;
    color: #FFF;
    text-align: center;
    height: 150px;
}

#main-top > section{
    width: calc(100% / 4);
}
#main-middle{
    display: grid;
    grid-template-columns: 40% auto 40%;
    grid-template-rows: 550px;
    text-align: center;
}
#main-middle .left, #main-middle .right{
    background: #CC9999;
}
#main-middle .center{
    background: #FFCCCC;
}
footer{
    background: #993333;
    color: #FFF;
    text-align: right;
}
table{
    border: 1px dotted red;
    width: 100%;
}
table td{
    text-align: center;
}
button{
    border: 0;
    padding: 20px;
    background: red;
    color: #FFF;
}