*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
header h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
    text-align: center;
}
footer p{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}
label{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 3px;
}
label input{
    margin-right: 10px;
}
.item{
    width: calc(500px - 10px);
    padding: 5px;
}
.quiz_container{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.true{
    background: rgba(9, 255, 0, 0.534);
    border-radius: 5px;
}
.false{
    background: rgba(255, 0, 0, 0.329);
    border-radius: 5px;
}
.score{
    position: fixed;
    top: 50px;
}
main{
    display: flex;
    flex-direction: row;
}
.score h2{
    font-size: 50px;
    font-weight: 600;
}