*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    width: 100%;
}
#parkmetr{
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
}
#parkmetr h1{
    text-align: center;
    margin: 10px 0;
}
#cennik{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #000;
}
.cennik-row,
.cennik-row-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cennik-row-header {
    border-bottom: 1px solid #000;
    font-weight: 600;
}
.cennik-row p,
.cennik-row-header p{
    padding: 2px 4px;
}
.cennik-row p:nth-of-type(2):after{
    content: "zł";
}
#money_input{
    display: flex;
    flex-direction: row;
}
#money_input input{
    box-sizing: border-box;
    padding: 5px;
    width: 100px;
}
#money_input label{
    margin-right: 10px;
}
#money_output{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.money_output_item{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid #000;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
}
.money_output_item:nth-last-of-type(1){
    margin-right: 0;
}
#controls{
    display: flex;
    flex-direction: column;
}
.controls-item{

}
#ticket{

}
.ticket-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}
#parkmetr>div:nth-of-type(2){
    margin-left: 10px;
}
#parkmetr > div:nth-of-type(2) > div:nth-of-type(1){
    margin-top: 50px;
}
#parkmetr>div:nth-of-type(2)>div{
    margin-bottom: 10px;
}
#parkmetr>div:nth-of-type(2)>div:nth-last-of-type(1){
    margin-bottom: 0;
}