*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: 0 auto;
}

header,main,form, label{
    display: flex;
    flex-direction: row;
}
main{

}
footer{}

.header-logo{
    height: 30px;
    padding: 10px;
}
.header-logo > img{
    height: 100%;
}
.header-title{
    height: 30px;
    padding: 10px;
    margin-left: calc(100% / 3 - 50px);
}
.header-title > h1{
    line-height: 30px;
    text-align: center;
}
.main-left{
    width: calc(25% - 30px);
    padding: 15px;
}
.main-right{
    width: calc(75% - 30px);
    padding: 15px;
}
h2{
    margin-bottom: 10px;
}
h2:nth-of-type(1){
    margin-top: 0;
}
h2:nth-last-of-type(1){
    margin-top: 10px;
}
a{
    background: rgb(255, 0, 0);
    display: block;
    padding: 10px;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
}

.main-left-cart-items{
    margin-bottom: 30px;
    padding: 10px;
}
.main-left-cart-items-item{
    display: flex;
    flex-direction: row;
}
.main-left-cart-items-item > p{
    margin-right: 10px;
}

table{}
th, td{
    padding: 5px;
}
th{
    text-transform: uppercase;
}

form{}
label{
    display: flex;
    align-items: baseline;
}
form > div{
    margin-right: 20px;
}
form > div:nth-last-of-type(1){
    margin-right: 0;
}
label p {
    margin-left: 10px;
}
input[type="number"],input[type="submit"]{
    width: 100px;
}
input[type="number"]{
    margin-bottom: 10px;
}
