* {
    padding: 0;
    margin: 0;
    font-family: "SF Pro Text",
        "Myriad Set Pro",
        "SF Pro Icons",
        "Helvetica Neue",
        "Helvetica",
        "Arial",
        sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    border-bottom: 1px solid #000;
}

footer {
    width: 100%;
    border-top: 1px solid #000;
}

#header {
    width: 800px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer {
    width: 800px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#footer__links {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#footer__links>a {
    font-size: 13px;
    padding: 1px;
    line-height: 13px;
}

nav {
    display: block;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {}

a {
    display: block;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

#header>#logo,
#footer>#logo {}

#logo>span {
    /* temporary */
    color: #fff;
    display: block;
}

#logo>span,
#logo>span {
    background: #000;
    /* temporary */
    height: 50px;
    width: 50px;
}

#footer>p {
    height: 50px;
    line-height: 50px;
}

/* main */
main {
    margin: 0 auto;
    width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section {
    margin-bottom: 15px;
}

section>h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

section h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.frst {
    margin-top: 15px;
    margin-bottom: none !important;
}

section>p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

section>p:nth-last-of-type(1) {
    margin-bottom: 0;
}

.workers {
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workers>.worker {
    display: flex;
    flex-direction: column;
}

.workers>.worker>img {
    display: block;
    padding: 20px;
    border-radius: 100%;
}

table {
    width: 100%;
    font-size: 14px;
}

table tr {}

table tr>th {
    text-transform: uppercase;
    font-weight: 500px;
}

table tr>th:nth-of-type(1) {
    text-align: left;
}

table tr>td,
table tr>th {
    padding: 10px;
}

table tr>td:nth-of-type(1) {}

table tr>td:nth-of-type(1)>p {
    font-weight: 500px;
    text-transform: capitalize;
    font-size: 16px;
}

table tr>td:nth-of-type(2) {
    text-align: center;
    width: 100px;
}

.pizza_name {
    font-weight: 500px;
}

#form-order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

#form-order>input {
    width: calc(100% / 2 - 30px);
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}

.form-presonal-data,
.form-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.form-presonal-data>input,
.form-items>input {
    width: calc(100% / 2 - 30px);
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}

.submit-button {
    width: 100px;
    padding: 5px;
    margin: 5px 20px;
}

.table {
    display: flex;
    flex-direction: column;
}

.workers__row {
    display: grid;
    grid-template-columns: 90px 100px 100px 120px 120px auto 60px;
}

.components__row {
    display: grid;
    grid-template-columns: 90px auto 150px 400px;
}

.products__row {
    display: grid;
    grid-template-columns: 90px 100px 130px 90px auto 200px;
}

.table_row>div {
    padding: 3px;
    overflow: hidden;
}

.table_row select,
.table_row input {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

/* .table_row div:nth-of-type(1){
    display: flex;
    flex-direction: row;
}
.table_row div:nth-of-type(1)>button{
    display: block;
    box-sizing: border-box;
} */
.workers__row__top,
.components__row__top {
    font-weight: 600;
}

.table_row_del {}

.row_order {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10px; */
}
.row_order:nth-of-type(1){
    /* margin-bottom: 0; */
}

.row_order>.row_order_top {
    display: grid;
    grid-template-columns: 170px 100px 150px 70px 80px auto 80px;
    padding: 5px 0;
    margin-bottom: 5px;
}

.row_order>.row_order_items {

}

.row_order>.row_order_items>ol {
    list-style: initial;
    display: flex;
    flex-direction: column;
    list-style-position: inside;
}
.row_order>.row_order_items>ol>li{
    padding: 3px;
}
.menu{
    display: flex;
    flex-direction: column;
}
.menu__table{

}
.menu__table__name{

}
.menu__table__name > h4{
    padding: 5px;
}
.menu__table__row,
.menu__table__row__top {
    display: grid;
    grid-template-columns: auto 100px;
    padding: 5px;
}
.menu__table__row__top{
    font-size: 600;
    text-transform: uppercase;
}
.menu__table__row{

}
.menu__table__row > div:nth-of-type(1) > p:nth-of-type(1){
    margin-bottom: 3px;
    text-transform: capitalize;
}
.menu__table__row>div:nth-of-type(2){
    text-align: center;
}